<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"> --}}
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Менеджер задач</title>
</head>
<body>
    <div class="wrapper theme-light-orange">
        <div class="container">
            <div class="header home-header">
                <button type="submit" class="bnt-def bnt-def--home">Добавить задачу</button>
                <ol class="home-header__list">
                    <li class="home-header__list__item">Профиль</li>
                    <li class="home-header__list__item">О сайте</li>
                </ol>
            </div>

            <div class="task">
                {{#each tasks}}
                    <div class="task__item">
                        <div class="task__item__info">
                            <h2 class="task__item__title">{{this.title}}</h2>
                            <h3 class="task__item__time">Дата окончания: {{this.time}}</h3>
                        </div>
                         <div class="task__item__btns">
                            <div class="task__item__btns__btn task__item__btns__btn__del"><div class="task__item__btns__img"><img class="task__item__btns__img__icon" src="/img/delete.png" alt="Кнопка удалить запись"></div></div>
                            <div class="task__item__btns__btn task__item__btns__btn__update"><div class="task__item__btns__img task__item__btns__update"><img class="task__item__btns__img__icon" src="/img/update.png" alt="Кнопка редактирования записи"></div></div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>