.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

.home-header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    list-style: none;

    border-bottom: 1px solid #000000;

    padding-bottom: 10px;

    font-family: 'Montserrat Alternates';
    font-size: 20px;

    user-select: none;
}

.home-header__list__item{
    cursor: pointer;

    transition: all .7s ease;
    
    color: #000000;
}

.home-header__list__item:hover{
    transition: all .7s ease;

    color: #ffffff;
}

.task{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;

    width: 100%;
    padding: 20px 0;

    flex-wrap: wrap;
}

.task__item{
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 30px;

    background-color: #ffffff;

    font-family: 'Montserrat Alternates';
}

.task__item__title{
    font-size: 20px;
    font-weight: 600;
}

.task__item__time{
    font-size: 13px;
    font-weight: 600;
}

.task__item__info{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 15px 0 15px;
}

.task__item__btns{
    position: relative;
    width: 100%;
    height: 47px;
}

.task__item__btns__btn{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0;

    position: absolute;

    cursor: pointer;
}

.task__item__btns__img{
    width: 25px;
    height: 25px;
}

.task__item__btns__img__icon{
    width: 100%;
    height: 100%;
}

.task__item__btns__btn__del{
    z-index: 2;

    width: 30%;

    border-radius: 20px;
    border: 1px solid black;

    background-color: #ff0000;
    transition: all .7s ease;
}

.task__item__btns__btn__del:hover{
width: 40%;
   transition: all .7s ease;
}

.task__item__btns__btn__update{
    z-index: 1;

    width: 100%;

    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid black;

    transition: all .7s ease;
}

.task__item__btns__btn__update:hover{
    background-color: #71b3fd;
    transition: all .7s ease;
}

.window-add{
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.5);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    display: none;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat Alternates';
}

.window-add__container{
    width: 400px;
    height: 300px;

    background: #ffffff;

    padding: 10px;

    border: 1px solid black;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.window-up__container{
    width: 400px;
    height: 400px;
}

.window-add__form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.window-add__form__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.window-add__form__inputs__label{
    font-size: 16px;
    font-weight: 700;
}

.window-add__form__inputs__input{
    padding: 15px 10px;

    border: 1px solid #000000;
    border-radius: 20px;
}

.window-add__form__btn{
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;

    padding: 10px;

    transition: all .7s ease;

    cursor: pointer;
}

.window-add__form__btn:hover{
    background-color: #FFCC66;

    transition: all .7s ease;
}

.window-add__bnt-close{
    height: 25px;
    width: 25px;

    position: absolute;
    top: 15px;
    right: 15px;

    transition: all .7s ease;

    cursor: pointer;
}

.window-add__bnt-close::after{
    content: '';
    transform: rotate(90deg);

    width: 2px;
    height: 100%;
    background-color: #000000;

    position: absolute;
    top: -30%;
    left: 0;

    transition: all .7s ease;
}

.window-add__bnt-close::before{
    content: '';
    transform: rotate(90deg);

    width: 2px;
    height: 100%;
    background-color: #000000;

    position: absolute;
    top: 0;
    left: 0;
    
    transition: all .7s ease;
}

.window-add__bnt-close:hover::before{
    transform: rotate(-45deg);

    transition: all .7s ease;
}

.window-add__bnt-close:hover::after{
    transform: rotate(45deg);
    top: 0;

    transition: all .7s ease;
}